

%table
  %tr
    %th Name
    %th Price
    %th Maximum
    %th Minimum
    %th Buy Target
    %th Quantity
    %th Amount
    %th No. of EPS
    %th
    %th
    %th In Port
    %th On Watch



<%= render :partial => @stocks %>
		
</table>

<br />
<div class="span-12">
<%= link_to 'New Stock', new_stock_path %>
</div>
<div class="span-12 last">
<%= link_to 'Back', stocks_path %>
</div>